@use "../abstracts/variables";
@use "../abstracts/mixins";

body#layout {
  div.section {
    // Box to add new widget
    .add_widget {
      padding: variables.$widget-add-padding;

      a {
        font-size: 14px;
        color: variables.$widget-add-color;
        margin-left: 32px;

        &:hover {
          text-decoration: none;
          color: variables.$widget-add-hover-color;
        }
      }
    }

    // Widget elements
    .widget {
      // Widget content
      .widget-content {
        background-color: variables.$widget-content-bg;
        padding: 12px;
        border: 1px solid variables.$widget-content-border;
        color: #263238;

        &:hover {
          border-color: variables.$widget-content-hover-border;
        }

        // Title
        .layout-title {
          margin: 0 30px 0 0;
          font-size: 14px;
          color: variables.$widget-title-color;

          // New widget name
          &::before {
            color: variables.$widget-name-color;
            font-weight: 500;
          }
        }
      }

      // Icon for status (visible/hidden)
      .layout-widget-state {
        background-size: cover;
        width: 20px;
        height: 20px;
        margin-top: 2px;
        margin-right: 10px;
      }
    }

    // If widget is locked (not draggable)
    .locked-widget .widget-content {
      @include mixins.gstatic-icon(variables.$icon-lock);

      background-position: center right 10px;
    }
  }
}
